/* Skeleton.css */

.skeleton {
  min-height: 100vh;
  min-width: 100vw;
    height: 100%;
    width: 100%; 
    background-color: #38a169;
    transition: all 0.7s;
    animation: bounce 0.7s infinite; 
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.25rem); 
    }
  }
  